@import 'freight-story-bootstrap';
@import 'page';
@import 'navbar';
@import 'dyna-icon';
@import 'footer';

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 1028;
}

#chart {
  z-index: 2;
}

.omodal {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 1028;
  display: none;
  overflow: hidden;
  outline: 0px none;
}

.navbar-form .form-control {
  width: 100%!important;
}

.story {
  margin-bottom: 450px;
  font-size: 1.2em;
  opacity: 0.4;
}

.story.active {
  opacity: 1;
}

.details {
  font-size: 0.9em;
}

.story > .card, .story.card {
    /*background-color: #FFF;
    */
    /*border: 1px solid #B7B7B7;
    */
    /*text-align: left;
    */
  padding: 10px 20px;
    /*transition: all .3s ease-in-out;
    */;
}

.story > .card {
  margin-bottom: 20px;
}
/*.story.active > .card , .story.card.active{
     box-shadow: 0 0 10px #b7b7b7;
}
*/
.story > .details {
  padding: 60px 20px 20px;
}

.card + .details {
  border-top: dotted 1px #777;
}

#employment-bubble {
  position: relative;
    /*transition: all 1s ease-in-out;
    */
  top: 60px;
    /* left: 8.333%;
     */;
}

.wage-industry-axis {
  stroke: #ccc;
  stroke-dasharray: 1,1;
}

.axis.x-wage-labels {
  font-size: 1.2em;
}

.axis.x-wage-header {
  font-weight: bold;
}

.g-tick-guides path.domain {
  display: none;
}

.g-tick-guides .tick line {
  stroke: #ccc;
  stroke-dasharray: 4,3;
}

.text-lighter {
  fill: #999;
}

.industry-list {
  line-height: 1.6em;
  font-size: 0.9em;
}

.industry-list span {
  border-bottom: 1px dotted #999;
}

.industry-list span:hover {
  border-bottom-color: #312867;
  color: #312867;
  cursor: pointer;
}

#bubble_tooltip_list {
  position: fixed;
}

.chart-title {
  text-align: right;
  top: 30px;
  position: absolute;
}

.b-title {
  right: 30px;
}

.w-title {
  left: 30px;
}

.chart-title h4 {
  font-weight: 100;
  line-height: 1.25;
  padding-bottom: 4px;
  border-bottom: 1px dotted;
  text-transform: uppercase;
}
/* tooltip */
.g-tip-up {
  position: absolute;
  pointer-events: none;
}

.g-tip-down {
  position: absolute;
  pointer-events: none;
}

.g-tip-down > .g-tip-shadow {
  margin-top: 8px;
}

.g-tip-down > .g-tip-content {
  padding-top: 15px;
}

.g-tip-shadow {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
}

.g-tip-box {
  position: absolute;
  fill: #fff;
  stroke: #000;
  stroke-width: .5px;
  stroke-opacity: .2;
}

.g-tip-content {
  position: absolute;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.g-tip-title {
    /*min-height: 20px;
    */
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.g-tip-title, .g-tip-metric-value {
  font-weight: bold;
}

.g-tip-metric {
    /*font-size: 0.8em;
    */
  clear: right;
  padding: 2px 0;
}

.g-tip-metric-name {
  color: #777;
}

.g-tip-metric-value {
  float: right;
}

.g-tip-metric + .g-tip-metric {
  border-top: solid 1px #eee;
}

.g-legend-line {
  stroke-width: 1;
  stroke: #999;
}

.wage-chart {
    /* z-index: 1;
     */
  margin-bottom: -45px;
  padding-top: 60px;
    /*margin-top: -60px;
    */
  min-height: 760px;
}

.legend-bubble {
  stroke-width: 1;
  stroke: #999;
  stroke-dasharray: 2 2;
  fill: none;
}

.g-legend text {
  fill: #636363;
}

.story.extra-tall {
  padding-bottom: 70vh;
  margin-bottom: 0;
}

#distribution-map, #typologies-map {
  position: relative;
  top: -771px;
  height: 750px;
  width: 100%;
    /* transition: opacity 0.3s;
     */;
}

body {
  height: auto;
}

.fc-hero {
  background-image: url("./images/fc-hero-full.jpg");
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 730px!important;
  }
}

@media (max-width: 1270px) {
  .navbar .navbar-brand {
    font-size: 18px;
    float: left;
  }

  .leaflet-control-attribution {
    display: none;
  }
}

@media (max-width: 1100px) {
  .dvrpc-pff {
    width: 260px;
    overflow: hidden;
    margin-bottom: -20px;
  }
}

@media (max-width: 992px) {
  .dl {
    margin-top: 0px!important;
    margin-bottom: 10px;
  }

  .right {
    float: left;
  }
}

@media (max-width: 885px) {
  .dvrpc-logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo-container {
    padding: 0px;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
  }

  #infobox_ {
    right: 10px;
  }

  .page-title h1 {
    font-size: 18px;
  }
}

@media (max-width: 376px) {
  .infowrap {
    padding: 20px;
    height: auto;
  }

  #infobox_ {
    display: none;
  }
}
/* Print Handling */
/* Common styles and resets */
.dotnav {
  margin-left: 7.5%;
  z-index: 2000;
  position: fixed;
  top: 50%;
}

.dotnav ul {
  width: 15px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(0,-50%);
}

.dotnav li {
  position: relative;
  display: block;
  float: left;
  margin: 5px 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(49,40,103,0.36);
  box-shadow: 0 0 0 2px rgba(49,40,103,0);
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.dotnav li a {
  top: 0;
  left: 0;
  outline: none;
  border-radius: 50%;
  text-indent: -999em;
    /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

.dotnav li a:focus {
  outline: none;
}

.dotnav li a:hover, .dotnav li a:focus {
  background-color: #312867;
}

.dotnav li.current {
  background-color: transparent;
  box-shadow: 0 0 0 2px #312867;
}

.dotnav li:hover a {
  top: -8px;
  left: 20px;
  padding: 0 10px;
  width: auto;
  height: auto;
  white-space: nowrap;
  border-radius: 0;
  background-color: #312867;
  color: #fff;
  text-indent: 0;
  line-height: 2;
  pointer-events: none;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotnav li:hover a::after {
    /* http: //cssarrowplease.com/ */
  position: absolute;
  left: -19px;
  top: -50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-color: transparent;
  border-right-color: #312867;
  content: '';
  pointer-events: none;
  top: 13%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.dotnav li:hover, .dotnav li:focus {
  z-index: 100;
  background-color: #312867;
}

.dotnav li+li.new-section {
  margin-top: 10px;
}

.dotnav li+li.new-section::before {
  border-top: solid 1px rgba(49,40,103,0.36);
  content: '';
  height: 2px;
  margin-left: -5px;
  padding: 7px 20px 0;
}
/* dots over dark handling */
.dotnav li.white-overlay {
  background-color: rgba(255,255,255,0.36);
  box-shadow: 0 0 0 2px rgba(49,40,103,0);
}

.dotnav li+li.new-section.white-overlay::before {
  border-top: solid 1px rgba(255,255,255,0.36);
}

.dotnav li.white-overlay.current {
  background-color: transparent;
  box-shadow: 0 0 0 2px #fff;
}

.dotnav li.white-overlay a:hover, .dotnav li.white-overlay a:focus {
  background-color: #fff;
}

.dotnav li.white-overlay:hover a::after {
  border-right-color: #fff;
}

.dotnav li.white-overlay:hover, .dotnav li.white-overlay:focus {
  background-color: #fff;
}

.dotnav li.white-overlay:hover a {
  background-color: #fff;
  color: #312867;
}

#fc-splash {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #312867;
}

.fc-splash-content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: -webkit-linear-gradient(bottom, rgb(49, 40, 103) 0%, rgb(49, 40, 103) 16%, rgba(49, 40, 103, 0.50) 100%);
  background-image: -o-linear-gradient(bottom, rgb(49, 40, 103) 0%, rgb(49, 40, 103) 16%, rgba(49, 40, 103, 0.50) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(49, 40, 103) 0%, rgb(49, 40, 103) 16%, rgba(49, 40, 103, 0.50) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(49, 40, 103) 0%, rgb(49, 40, 103) 16%, rgba(49, 40, 103, 0.50) 100%);
  background-image: linear-gradient(to top, rgb(49, 40, 103) 0%, rgb(49, 40, 103) 16%, rgba(49, 40, 103, 0.50) 100%);
}

.fc-splash-content {
  color: #fff;
  text-shadow: 0 2px 12px black;
  font-size: 1.25em;
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: 0;
  z-index: 1;
  position: relative;
  display: flex;
}

.fc-splash-content h1 {
  color: #fff;
  font-size: 2.8em;
  padding-top: 60px;
}

.fc-splash-content .subtitle {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 115px;
  max-width: 63ch;
}

.fc-color-full {
  color: #fff;
  background-color: #312867;
  padding: 50px 0;
}

.fc-splash-number {
  margin-top: -195px;
  font-size: 3em;
  font-weight: 800;
  text-shadow: none;
}

#scroll-hint {
  font-size: 1.3em;
  color: #fff;
  bottom: 150px;
  display: block;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  text-align: center;
  width: 300px;
  z-index: 2;
}

.two-column {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
  font-size: 1.2em;
  margin-bottom: 230px;
}

.circle-multiline {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 50%;
  border: dashed 2px #fff;
  color: white;
}

.circle-multiline.small {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(132, 142, 155);
  background-color: rgb(189, 203, 222);
}

.circle-multiline.extraction {
  background-color: rgb(49, 40, 103);
  border-color: rgb(34, 28, 72);
}

.circle-multiline.production {
  background-color: rgb(57, 106, 178);
  border-color: rgb(40, 74, 125);
}

.circle-multiline.distribution {
  background-color: rgb(244, 179, 135);
  border-color: rgb(171, 125, 95);
}

.circle-multiline.consumption {
  color: #221C48;
}

#freight-intensive-box {
  outline: 1px dotted;
  outline-offset: -19px;
  padding-bottom: 35px;
  padding-right: 40px;
  min-width: 420px;
}

#freight-intensive-box h5 {
  background-color: #efefef;
  position: relative;
  width: 24ch;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* center typologies */
#typologies-squares {
  padding-left: 5px;
}

.t-sq figcaption {
  position: relative;
  top: 30px;
  margin-right: 10px;
  left: 10px;
  text-align: left;
  padding: 10px 0px 10px 26px;
  min-height: 65px;
    /* border-right: 29px solid;
     */
  border-left: 135px solid #fff;
  border-bottom: 1px solid;
  transition: all 1.5s;
}

.t-sq img {
  position: relative;
  z-index: 2;
  width: 125px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid;
  float: left;
}

.t-sq img.fc-detail {
  width: 80%;
}

.t-ig figcaption, .t-ig img {
  border-color: #f4bd48;
}

.t-hi figcaption, .t-hi img {
  border-color: #ef7e51;
}

.t-dc figcaption, .t-dc img {
  border-color: #ca4b66;
}

.t-ht figcaption, .t-ht img {
  border-color: #883272;
}

.t-lm figcaption, .t-lm img {
  border-color: #312867;
}

.t-sq img {
  background-color: #fff;
}

#typologies-squares .t-sq {
  padding-right: 10px;
  height: 140px;
}

.t-half {
  width: 50%;
  padding-right: 15px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.no-mouse {
  pointer-events: none;
}
/* freight center typology styles */
.typology-row {
  height: 80px;
  display: table;
  margin-bottom: 15px;
}

.typology-row p {
  display: table-cell;
  vertical-align: middle;
}

.typology-row span {
  font-weight: 600;
  font-size: 1.12em;
}

.t-icon {
  width: 80px;
  margin-right: 25px;
  float: left;
}

.ig-icon svg {
  fill: #f4bd48;
}

.hi-icon use {
  fill: #ef7e51;
}

.dc-icon use {
  fill: #ca4b66;
}

.ht-icon use {
  fill: #883272;
}

.lm-icon use {
  fill: #312867;
}
